
@{
    Layout = "_Layout";
}


<div class="contaier">
    <div class="row">
        <div class="col-4">
            <h1>VENDOR</h1>
            <h3>Username: vendor@vendor.com</h3>
            <h3>Password: Iamshuvo123!</h3>

            <br /><br />
            <h1>Buyer</h1>
            <h3>Username: buyer@buyer.com</h3>
            <h3>Password: Iamshuvo123!</h3>

            <br /><br />
            <h1>Admin</h1>
            <h3>Username: admin@admin.com</h3>
            <h3>Password: Iamshuvo123!</h3>
        </div>
    </div>
</div>